
<div class="form-group">
    <label for="firstName">First Name:</label>
    <div class="col-md-10">
        <input type="text" id="firstName" name="firstName" required onkeypress="BlockNumbers(event)" onkeyup="validateFirstName(this.value)"><br>
        <span class="Fname-error"></span>

    </div>
</div>

<div class="form-group">
    <label for="lastName">Last Name:</label>
    <div class="col-md-10">
        <input type="text" id="lastName" name="lastName" required onkeypress="BlockNumbers(event)" onkeyup="validateLastName(this.value)"><br>
        <span class="Lname-error"></span>
    </div>
</div>

<div class="form-group">
    <label for="role">Role:</label>
    <div class="col-md-10">
        <select id="role" name="role" required @*onchange="validateRole(this.value)"*@>
            <option value="">Select a role</option>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select><br>
        <span class="role-error"></span>
    </div>
</div>

<div class="form-group">
    <label for="dateOfBirth">Date of Birth:</label>
    <div class="col-md-10">
        <input type="date" id="dateOfBirth" name="dateOfBirth" required onchange="validateDOB(this.value)"><br>
        <span class="DOB-error"></span>
    </div>
</div>

<div class="form-group">
    <label for="department">Department:</label>
    <div class="col-md-10">
        <input type="text" id="department" name="department" required onkeyup="validateDepartment(this.value)"><br>
        <span class="department-error"></span>
    </div>
</div>

<div class="form-group">
    <label for="enrollmentDate">Enrollment Date:</label>
    <div class="col-md-10">
        <input type="date" id="enrollmentDate" name="enrollmentDate" required onchange="validateEnrollmentD(this.value)"><br>
        <span class="EnrollmentD-error"></span>
    </div>
</div>

