@model School.Models.User

@{
    ViewBag.Title = "CreateUsers";
}


<!DOCTYPE html>
<html>
<head>

    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Registervalidation.css">
    @*<script src="~/Scripts/Register/Register.js"></script>*@

</head>
<body class="bg-light">
    <div class="d-flex align-items-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="mb-4">Login</h1>
                    <form class="form-horizontal" action="/Home/Login" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <div class=" col-md-10">
                                <input type="text" id="username" name="username" required onkeyup="validateUsername(this.value)"><br>
                                <span class="username-error"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <div class="col-md-10">
                                <input type="password" id="password" name="password" required onkeyup="validatePassword(this.value)"><br>
                                <span class="password-error"></span>
                            </div>
                        </div>
                        <br/>
                        <input type="submit" value="Login" class="custom-button" onclick="return validateForm();">

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>