@model School.Models.User

@{
    ViewBag.Title = "Register";
}




<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Register/Register.js"></script>
    <style>
        .error-text {
            color: purple;
            font-size: 10px;
        }

        .custom-button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 5px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

            .custom-button:hover {
                background-color: #005f5b;
                color: white;
            }
    </style>
</head>
<body>
    
    <h1>User Registration</h1>
    <hr />
    <form action="/Registration/Register" method="post">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        @*<span class="validation-error"></span>*@

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        @*<span class="validation-error"></span>*@

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        @*<span class="validation-error"></span>*@

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" onkeyup="validatePhoneNumber(this.value)"><br>
        <span  id="TellErrorMsg" class="validation-error"></span> 

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName"><br>

        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select><br>


        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth"><br>


        <label for="department">Department:</label>
        <input type="text" id="department" name="department"><br>


        <label for="enrollmentDate">Enrollment Date:</label>
        <input type="date" id="enrollmentDate" name="enrollmentDate"><br>

        <input type="submit" value="Register" class="custom-button" onclick="return validateForm();">
    </form>
</body>
</html>





