@model School.Models.User

@{
    ViewBag.Title = "Register";
}
@Html.ValidationSummary(true)
<!DOCTYPE html>
<html>
<head>

    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/RegisterValidation.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <script src="~/Scripts/Register/Register.js"></script>

</head>
<body class="bg-light">
    <div class="d-flex align-items-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="mb-4">User Registration</h1>
                    <form class="form-horizontal">



                        <div id="Part1">
                            @Html.Partial("~/Views/Registration/_Part1.cshtml")
                            <button type="button" onclick="nextSection()" class="custom-button">Next</button>

                        </div>

                        <div id="Part2" style="display: none;">
                            @Html.Partial("~/Views/Registration/_Part2.cshtml")
                            <button onclick="previousSection()" class="custom-button">Previous</button>

                        </div>

                      

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="button" value="Register" id="registerButton" onclick="RegisterBtnClicked();" class="custom-button" style="display: none;">

                    </form>


                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Registration Successful</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Your registration was successful. You will be redirected to your Dashboard.</p>
                                </div>
                                <div class="modal-footer">
                                    
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="Close();">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>