.error{
    color:purple;
    font-size: 10px
}

.form-control {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
 
}

.custom-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

    .custom-button:hover {
        background-color: #005f5b;
        color: white;
    }

 /*   #registerButton{
        display:none;
    }*/
/*
    .error{
        color:red;
    }*/