# Ignore Visual Studio temporary files
*.obj
*.pdb
*.user
*.suo
*.cache
*.vscode
*.sln.docstates

# Ignore build results
[Bb]in/
[Oo]bj/

# Ignore NuGet packages
packages/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Rider directory
.idea/
